.bakground-pane{
	-fx-background-image:url(../imgs/background2.png);
}

.background-pane-login{
	-fx-background-image:url(../imgs/backgroundLogin.png);
}

.background-pane-register{
	-fx-background-image:url(../imgs/backgroundRegister.png);
	-fx-background-position: right;
}

.back-button-pane{
	-fx-border-radius: 175;
    -fx-background-radius: 175;
}

.ReshapePane{
	-fx-background-color: rgba(0, 0, 0, 0.1);
}
.ReshapePane:hover{
	-fx-background-color:transparent;
}